# Backup settings
WRITE_LOGS=true
LOG_FILE_PATH="/var/log/backup.log"

# Directories to backup (comma-separated)
BACKUP_DIRECTORIES="/path/to/directory1,\
/path/to/directory2,\
/path/to/directory3"

# Excluded directories and files (comma-separated)
EXCLUDED_ITEMS="/path/to/directory1/excluded1,\
/path/to/directory2/excluded2,\
/path/to/directory3/excluded3"

# Docker volumes to backup (comma-separated)
DOCKER_VOLUMES_TO_BACKUP="volume1,\
volume2,\
volume3"

# FTP server settings
FTP_SERVER="ftp.example.com"
FTP_USER="username"
FTP_PASSWORD="password"
FTP_DIRECTORY="/backup/directory"

# Number of latest backups to keep on FTP server
NUM_DAYS_OF_BACKUPS_TO_KEEP=8
DELETE_OLD_BACKUPS=true

# Telegram bot settings
TELEGRAM_BOT_TOKEN="YOUR_TELEGRAM_BOT_TOKEN"
TELEGRAM_CHAT_ID="YOUR_TELEGRAM_CHAT_ID"

# Telegram message settings
TELEGRAM_SEND_REPORT=true
TELEGRAM_SEND_INFO=false
TELEGRAM_SEND_SUCCESS=false
TELEGRAM_SEND_FAILURE=true
TELEGRAM_SEND_START=true
TELEGRAM_SEND_END=false
TELEGRAM_VERBOSE=false
TELEGRAM_MESSAGE_PREFIX="[BACKUP] - "